<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>TODO write content</div>
         <table id="tabelKTP" class="table table-white table-striped">
                <thead>
                    <tr>
                        <th scope="col">NIK</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Foto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="godummy:${goDummy}">
                        <td th:text="${godummy.noktp}"></td>
                        <td th:text="${#calendars.format(godummy.tanggal, 'dd-MMM-yyyy')}"></td>
                        <td th:text="${godummy.tanggal}"></td>
                    </tr>

                </tbody>
            </table>
    </body>
</html>
